services:
  flat-alert:
    image: ghcr.io/eisimo/flat-alert:latest
    container_name: flat-alert-app
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.44
    command: --interval 30 flat-alert-app