services:
  flat-alert:
    image: ghcr.io/eisimo/flat-alert:latest
    container_name: flat-alert-app
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 flat-alert-app